/* 2. opacity (0~1, 1%~100%)  붙루명도를 설정한다.
특징: 내부에 있는 요소 전부에 영향 */

.helloooo {
  width: 100px;
  height: 100px;

  position: fixed;
  top: 10px;
  left: 10px;

  background-color: aqua;
  opacity: 0.7;
}