/* 폰트 관련 속성 */

/* 1.font-size, font-style ,  font-weight. */
.text {
  font-size: 10px;
  font-style: italic;
  font-weight
  /*글씨 굵기*/
  : bold;
}

/* 2. font-family. (글꼴) */

.text {
  font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* 이렇게 다양한 글꼴을 넣어주고 그중에서 윈도우에서 지원하는
글꼴이 맞는지 첫번째부터 브라우저가 읽어가면서 실행함.
글꼴을 지원해주지 않는 경우도 있으니 마지막에 sans-serif 글꼴을
넣어주는게 좋음*/

/* 2. line-height. (글꼴과 상관 없이 동일하게 폰트 위아래 간격 설정 가능)*/

p {
  font-size: 24px;
  line-height: 2.0;
}

/* 3. shorthand (단축해서 꾸미는 방법) */

.you {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.you {
  font: italic 100 20px/1.7 'Times New Roman', Times, serif
    /*순서!
  font-style -- font-weight -- font-size-- / line-weight 'font-family' 순서*/
}


/* 4. letter-spacion (글자 간의 간격) */

.you {
  letter-spacing: -3px
    /*-3은 normal에서 -3을 한것이다*/
  ;
}


/* 5. word - spacion (단어와 단어 사이의 간격) */
.you {
  word-spacing: 30px;
}


/* 6. text-align (문장을 왼쪽,가운데, 오른쪽 등으로 방향 설정) */

.block {
  text-align: center;
}

.inline {
  text-align: center;
}

/* *주의*span은 inline 요소이므로 적요이 되지 않음. 왜냐하면 
이미 글자 또는 문장을 이루고 있는 크기가 딱 정해져 있음.
딷라서 inline 요소를 center(가운데)에 두고 싶으면 inline요소를
감싸고 있는 태그에 class를 만들어 text-align을 설정하면 된다.*/

.uuu {
  text-align: center;
}


/* 7. text-indent ( 긴 문장에서 처음 시작하는 부분에 간격을 줄때)
단 span 같은 inline 요소에는 적용되지 않는다.*/

.class1111 {
  text-indent: 30px;
}

.inline {
  text-indent: 50%;
}

/**주의* span은 인라인 요소라 적요이 안된다. */

.container {
  text-indent: 50%;
}

/* 이렇게 설정하면 containor 요소안에 있는 자식들에게 모두 적용
하지만 현재 위에 보면 .class는 이미 설정되어 있기때문에 
페이지에서는 class는 제외된다.*/


/* 8. text decoration */

.helloooo {
  text-decoration: green 2px underline wavy;
}


/* 9. word-break */

.gogogogo {
  width: 120px;
  background-color: blueviolet;
}

/* ↳이렇게 설정하면 영어는 칸 밖으로 튀어나오고 한국어는
안 튀어나옴 */

p[lang="en"] {
  word-break: break-all;
}

/* ↳이렇게 설정하면 영어는 칸 밖으로 튀어나오지 않음 */

p[lang="ko"] {
  word-break: keep-all;
}

/* ↳이렇게 설정하면 한국어는 칸 밖으로 튀어나옴 */



/* 10. text-transform */

.comoestas p:last-of-type {
  color: blue;
  text-transform: initial;
}