/* 가상 클래스 선택자 콜론 : 사용*/

/* 하이퍼링크는 기본 두가지 색깔이 있다. 하나는 유저가 방문x 하나
는 유저가 방문했을때. 따라서 a:link 를 통해서 바꿀수 있다.*/

a:link {
  color: cornflowerblue;
}

/* 방문 안한 페이지 색깔*/


a:visited {
  color: red;
}

/* 방문했던 페이지 색깔*/