/* z-static */
/* 특징: 여러 태그 또는 박스같은건 겹치게 하고 싶을때.
어떠한 태그 또는 박스를 다른 태그나 박스 위에 보이게 하고 싶을때. 
예들들어 경고창이나 등등*/

div {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 3px solid yellow;
}

#box2,
#box3 {
  margin-top: -20px;
}

#box2 {
  margin-left: 40px;

  position: relative;
}

/* 이렇게 설정할 경우 box 1,2,3 다 static (기본값)이여서
맨 마지막 태그가 제일 앞에 튀어나옴
만약 box2를 box3 보다 앞에 보이게 하고 싶으면
static이 아닌 position relative 또는 position absolute
넣으면 된다. 

그러나 예를들어 box2 와 box3에 똑같이 static이 아닌 상황에서는
원래 태그 순서 그래도 간다. 
box2와 box3가 static이 아닌 상황에서 box2를 box3보다 
앞에 보이게 하고 싶으면 z-index를 넣어주면 된다.*/

div {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 3px solid yellow;
}

#boxxxx2,
#boxxxx3 {
  margin-top: -20px;
  position: relative;

}

#boxxxx2 {
  margin-left: 40px;

  position: relative;
  z-index: 10;
}