/* 1. inline, block, inline-block */

/* inline 요소 (span  등등 )의 특징: a. 영역의 크기가 내부 콘텐츠 크기로 정해진다.
                      b. margin, padding 의 top과 bottom을 추가 불가능하다. (좌우의 영역은 추가 가능)
                      c. 여러 요소가 가로 배치가 된다.
*/

/* blcock 블록 요소 ( div , p 등등 )의 특징:
 a.영역의 크기를 width, hieght 지정할 수 있다.
 b.width를 지정하지 않으면 가로 전체를 차지한다.
 c. 여러 요소가 세로 배치된다.
 */

/* inline-block의 요소(input 등등) 
 a.영역의 크기를 width, hieght 지정할 수 있다.
 b. 여러 요소가 가로 배치가 된다.   */

span[class="11"] {
  background-color: yellowgreen;
  width: 30px;
  display: inline-block;
}

/* 2. display none : 코드상에는 보이지만 요소를 레이아웃에서
사라지게 만든다. 존재하지 않는것 처럼 적용한다. */

div {
  height: 100px;
  border: solid;
}

.box2 {
  display: none;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: yellow;
}

.box3 {
  background-color: aqua;
}


/*3. visibility-hidden: 레이아웃에서는 사라지지만 
그 자리만 비워진다. 마치 뭔가 빠진것처럼. */

div {
  height: 100px;
  border: solid;
}

.box22 {
  visibility: hidden;

}

.box11 {
  background-color: green;
}

.box22 {
  background-color: yellow;
}

.box33 {
  background-color: aqua;
}

/* 4. float 어떠한 요소를 설명하기 위해
오른쪽이나 왼쪽으로 설명할때.
특징: 블록 요소를 사용할 경우 그 블랙요소들의 옆에는
아무것도 올 수 없도록 되어 있는데 float를 사용하면
그것을 무시하고 옆에 배치할 수 있다.

정확히 말하면 글을 태그한 곳 위에 붕붕 떠 있는것과 같다.*/

.gol {
  border: solid;
  width: 700px;
  margin-left: 20px;
}

.argentina {
  width: 30px;
  height: 30px;

  background-color: blue;
  border: solid 5px green;

  float: left;
  margin: 10px;
}